# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Intellij files
.idea/
target/
*.iml

#ignore all packages
*.7z
*.dmg
*.iso
*.rar
*.rar
*.tar
*.zip

# MacOS files
*.DS_Store

#Log file
*.log
*.sql
*.sqlite

#ignore all compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#*jar